.page{
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
}
.page img{
  padding-top: 35vh;
}
.mouse{
  text-align: center;
}
.mouse img{
  margin-top: -18vh;
}

.about{
  text-align: center;
}
